<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/forca.css">
</head>
<body>
    <div class="container">
        <p class="titulo"><strong>Palavra</strong></p>
        <div>
            <table>
                <tr>
                    <td><button class="espaco" id="1"></button></td>
                    <td><button class="espaco" id="2"></button></td>
                    <td><button class="espaco" id="3"></button></td>
                    <td><button class="espaco" id="4"></button></td>
                    <td><button class="espaco" id="5"></button></td>
                </tr>
            </table>
        </div>
        <div>
            <p>Digite uma letra</p>
            <input class="input"><br><br>
            <button class="enviar">Enviar</button>
        </div>
        <div>
            <p class="chances"></p>
        </div>
        
    </div>
    <script type="module" src="/js/gameForca.js"></script>
</body>
</html>