<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"  href="/css/homeVelha.css">
</head>
<body>
    <h1>Selecione um modo de jogo</h1>
    <p>
        <a href="http://localhost:300/home/2players">2 Players</a><br>
        <a href="http://localhost:300/home/1player">1 Player</a>
    </p>
</body>
</html>