<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/game1.css">
    <style>
        
    </style>
</head>
<body>
    <h1>2 Jogadores</h1>
    <section class="page">
        <table id="campo">
            <tr>
                <td><button class="casa" id="casa1"></button></td>
                <td><button class="casa" id="casa2"></button></td>
                <td><button class="casa" id="casa3"></button></td>
            </tr>
            <tr>
                <td><button class="casa" id="casa4"></button></td>
                <td><button class="casa" id="casa5"></button></td>
                <td><button class="casa" id="casa6"></button></td>
            </tr>
            <tr>
                <td><button class="casa" id="casa7"></button></td>
                <td><button class="casa" id="casa8"></button></td>
                <td><button class="casa" id="casa9"></button></td>
            </tr>
            <tr><td><button type="submit" id="reset">reset</button></td></tr>
        </table>
        
    </section>
    <div class="res"><h1 class="resultado">resultado</h1></div>
    <script src="/js/2players.js"></script>
</body>
</html>